body {
     background-color: rgb(255, 255, 255);
     transition: all 1s ease-in-out; 
   
 }
.bdy select {
    pointer-events: none;
    opacity: 0.5; /* Makes it look disabled */
}
.custom-toast-container {
    margin-top: 50px;
    width: 300px;
    background-color: aqua\; 
  }

  @media (max-width: 600px) {
    .custom-toast-container {
      margin-top: 20px; 
      width: 80%; 
      font-size: 14px; 
    }
  }

/* In cstyle.css */
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #4CAF50; /* Green spinner */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.lloading{
  color: rgb(80, 80, 80);

}