.container {
    display: flex;
    justify-content: center;
    margin: 60px;
  }
  
  .additem {
    text-align: center; 
    background-color:  rgb(234, 240, 238); 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2),-2px 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
  }
  
  .heading {
    font-size: 1.5rem;
    color: rgb(61, 61, 61);
    margin-bottom: 25px;
    font-family: sans-serif;
  }
  
  .form input {
    display: block;
    width: 100%; 
    max-width: 300px;
    border: none;
    background-color: #fafafa;
    margin: 20px auto; 
    padding: 10px;
    color: rgb(91, 90, 90);
    font-size: 1rem;
    /* border: 1px solid #0f1d43; */
    border-radius: 5px;
  }
  .button1{
    background-color:#149253;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    padding: 5px;
  }
  .button1:active{
    opacity: 0.7;

  }


  @media (max-width: 768px) {
    .additem {
        width: 90%;
        padding: 15px;
        margin: 10px;
    }

    .heading {
        font-size: 1.4rem;
    }

    .form input {
        width: 90%;
        max-width: 90%;
        font-size: 0.9rem;
    }

    .button1 {
        width: 90%;
        font-size: 1rem;
    }
}

/* For screens smaller than 480px */
@media (max-width: 480px) {
    .additem {
        width: 95%;
        padding: 10px;
    }

    .heading {
        font-size: 1.2rem;
    }

    .form input {
        width: 95%;
    }

    .button1 {
        width: 90%;
    }
}


 co{
  color: rgb(204, 200, 200);
 }

 /*Home page*/


.home_container{
  display:flex;
  /* background-color: #6e0e0e; */
  justify-content: center;
}
.contains{
  display: flex;
  justify-content: center;
  flex-direction:column;
  text-align: center;
  padding: auto;
  /* background-color: rgb(198, 123, 24); */
}
.home_tittle{
  font-size: 1.6rem;
  font-weight: bold;
   font-family: sans-serif;
  background: linear-gradient(45deg, hsl(150, 77%, 62%), #0a969b);
  -webkit-text-fill-color: transparent; 
  background-clip: text;
}
.home_res{
  font-size: 1.2rem;
   font-family: sans-serif;
  color: gray;
  
}
#gotocreate{
  color:rgb(28, 105, 161);
  font-size: 1.4rem;
  
}
#gotocreate:hover{
  text-decoration:underline;
  text-decoration-color: rgb(89, 89, 89);
}


/*product card*/


/* .card{
  display: grid;
  background-color: #1e45c5;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px; 
  width:200px;
  /* margin: 20px;
} 
*/

/* Container for the grid */
/* Container for the grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4,1fr); 
  /* grid-template-columns: repeat(5,1fr);  */
  gap: 30px; 
  padding: 16px;
  margin: 40px;
  transition: width 0.3s ease;
}

/* Media query */

/* @media (max-width: 1275px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    transition: width 0.3s ease; 
  }
}
@media (max-width: 1070px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr); 
    transition: width 0.3s ease;
  }
} */
@media (max-width: 990px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    transition: width 0.3s ease; 
  }
}

@media (max-width: 730px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    transition: width 0.3s ease; /* 2 cards per row */
    gap: 20px; 
    /* padding: 10px; */
    margin: 10px;
  }
}
/* 
@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    transition: width 0.3s ease; 
  }
} */


.card {
  background: #fff;
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  height: 100%;
  flex-direction: column;
  
  /* width: 100px; */
  /* height: 400px; */
  /* box-shadow: 0 4px 6px rgba(135, 134, 134, 0.1); */
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-4px);
  /* box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); */
}

.card-image {
  width: 100%;
  height: 80%;
  object-fit: cover;
  aspect-ratio:4/4;
  overflow: hidden;
}

/* .card-content { */
     /* padding: 16px; */
  /* text-align: center;   */
  /* background-color: #1e45c5; */

/* } */

.card-content h3 {
  font-size: 18px;
  /* margin: 8px 0; */
  color: #555;
   font-family: sans-serif;
}

.card-content p {
  color: #555;
  font-size: 16px;
   font-family: sans-serif;
}
 

/*Poster image*/


.poster_image {
  width: 100%;
  /* border-radius: 20px; */
  /* aspect-ratio:1/1; */
  /* height: 400px; */
  object-fit:fill;

}
.carousel_container{
  margin-top: 80px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  /* background-color: #149253; */
  /* width:98%; */
  /* height:400px; */
  border-radius: 50px;
  /* padding: 33px; */
}

.intro h,p{
  font-family: sans-serif;
}
.intro{
  margin:20px 60px;
  z-index: 200;
  /* padding:; */
  /* padding: 40px; */
}
.intro h2{
  color: black;
  font-size: 2.2rem;
  /* padding: 20px; */
  /* font-weight: bold; */
}
.intro p{
  color: #8f8d8d;
  font-size: 1.15rem;
}

 @media (min-width:1130px) {
  .carousel_container{
    height:400px;
    margin-top: 30px;
  }
  .poster_image{
    height:400px;
    aspect-ratio:1/1; 
    object-fit: contain; 
  } 
  .intro h2{
    color: black;
    font-size: 2rem;
    
  }
  .intro p{
    color: #8f8d8d;
    font-size: 1.1rem;
  }
}

@media (max-width:990px) {
  .carousel_container{
    height:300px;
    margin-top: 30px;
  }
  .poster_image{
    height:300px;
  } 
  .intro h2{
    color: black;
    font-size: 2rem;
    /* padding: 20px; */
    /* font-weight: bold; */
  }
  .intro p{
    color: #8f8d8d;
    font-size: 1rem;
  }
}

@media (max-width:620px) {
  .carousel_container{
    height:200px;
    margin-top: 30px;
  }
  .poster_image{
    height:200px;
    
  }
  .intro h2{
    color: black;
    font-size: 1.5rem;
    /* padding: 20px; */
    /* font-weight: bold; */
  }
  .intro p{
    color: #8f8d8d;
    font-size: 0.9rem;
  }
}

